<section class="bonus-container full-centered">
    <div class="bonus-title">
        <div>{{ randomBonus?.amount }} {{ randomBonus?.prize }}</div>
        <div>on {{ randomBonus?.game }}</div>
    </div>
    <div class="bonus-timer">00:<span id="countdown">25</span></div>
    <ui-button [cssClass]="'default'" [buttonText]="'Claim now'" (buttonClick)="onButtonClick($event)"></ui-button>
</section>