@import '../../../assets/sass/sass-setup';

section.bonus-container {
    
    @extend %bonus-container;

    .bonus-title {
        margin-top: 26px;
    
        @extend %font-lettering;
        font-size: 45px;
        line-height: 50px;
    }
    .bonus-timer {
        margin-top: 146.5px;
        position: absolute;
    
        @extend %font-lettering;
        font-size: 30px;
        line-height: 35px;
        color: $timer-color;
    }
    ui-button {
        margin-top: 202px;
        position: absolute;
    }

}

/*---------------------------------------------------------------------------------*/

@media only screen and (max-width: 768px) {
    section.bonus-container {
        width: 350px;

        .bonus-title {
            margin-top: 31px;
            font-size: 35px;
            line-height: 47px;
        }
    }
}
/* Extra mockup, tiny viewports (Galaxy SII is 320px ): */
@media only screen and (max-width: 391px) {
    section.bonus-container {
        width: calc(100% - 25px);

        .bonus-title {
            margin-top: 46px;
            font-size: 33px;
            line-height: 35px;
        }
    }
}