<section class="bonus-container full-centered">
    <div class="bonus-title">
        <div>You’ve {{ randomBonus?.amount }} {{ prizePrefix }}</div>
        <div>{{ prizeSufix }} to use now</div>
    </div>
    <ui-button cssClass="ticked"></ui-button>
</section>