@import '../../../assets/sass/sass-setup';

section.bonus-container {

    @extend %bonus-container;

    .bonus-title {
        margin-top: 59px;
    
        @extend %font-lettering;
        color: $ticked-font-color;
        font-size: 40px;
        line-height: 47px;
    }

    ui-button {
        margin-top: 43px;
    }
    
}

/*---------------------------------------------------------------------------------*/

@media only screen and (max-width: 768px) {
    section.bonus-container {
        width: 350px;

        .bonus-title {
            margin-top: 61px;
            font-size: 35px;
            line-height: 47px;
        }

        ui-button {
            margin-top: 41px;
        }
    }
}
/* Extra mockup, tiny viewports (Galaxy SII is 320px ): */
@media only screen and (max-width: 391px) {
    section.bonus-container {
        width: calc(100% - 25px);

        .bonus-title {
            font-size: 28px;
            line-height: 42px;
        }

        ui-button {
            margin-top: 51px;
        }
    }
}
