/* You can add global styles to this file, and also import other style files */

/* The font used is a compat FREE font, suggested @ https://www.quora.com/Are-there-any-Google-web-fonts-similar-to-Neue-Helvetica */
/* The font name is "TEX GYRE HEROS" and the 'woff' type was downloaded from https://www.fontsquirrel.com/fonts/TeX-Gyre-Heros */
@font-face{ 
	font-family: 'HelveticaNeue-Bold';
	src: url('./assets/fonts/texgyreheros-bold-webfont.woff') format('woff'),
}

/*---------------------------------------------------------------------------------*/

/* Full center, to the parent container, any tag: */
.full-centered {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
