
%font-lettering {
    font-family: HelveticaNeue-Bold;
    color: #252525;
    letter-spacing: 0;
    text-align: center;
}

%bonus-container{
    width: 600px; height: 290px;
    background-color: white;
    box-shadow: 0 4px 0 0 rgba(0,0,0,0.50);
	border-radius: 4px;
	
	/* Center contents horizontally */
	display: flex;
	flex-direction: column;
	align-items: center;

	min-width: 242px;
}

%ui-button {
    font-family: HelveticaNeue-Bold;
    font-size: 22px; color: #ffff;
    line-height: 35px; letter-spacing: 0;

    width: 193px; height: 55px;
    border: 0;
    border-radius: 27.5px;
    display: block;
}

/*---------------------------------------------------------------------------------*/

$timer-color: #FF4DC1;

$button-bgd: linear-gradient(to bottom, #FF78CF 0%, #FF18B0 99%);
$button-bgd-hover: linear-gradient(to top, #FF78CF 0%, #FF18B0 99%);
$button-shadow-color: #B00E78;

$ticked-font-color: #00A49C;
$ticked-bgd: #DDE4E4;

/*---------------------------------------------------------------------------------*/

