@import '../../../assets/sass/sass-setup';


button.type-default {
    @extend %ui-button;
    background-image: $button-bgd;
    box-shadow: 0 2px 0 0 $button-shadow-color;
}
button.type-default:hover,
button.type-default:active {
    background-image: $button-bgd-hover;
    box-shadow: 0 1px 0 0 $button-shadow-color;
    cursor: pointer;
}


button.type-ticked {
    @extend %ui-button;
    background-color:  $ticked-bgd;
}
svg.icon-tick {
    fill: $ticked-font-color;
}