<button
    [ngClass]="cssClass ? 'type-' + cssClass : ''"
    (click)="onClickEmitBack()"
>
    <span *ngIf="cssClass === 'default'">{{ buttonText }}</span>
    <span *ngIf="cssClass === 'ticked'">
        <svg class="icon-tick">
            <use xlink:href="assets/svg/icon-tick.svg#icon-tick"></use>
        </svg>
    </span>
</button>